a{
    text-decoration: none;
    color: #ff0000;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:#000000;
}

input{
    background-color: yellowgreen;
}
input:focus{
    background-color: violet;
}